global
    daemon
    quiet
    nbproc  2
    pidfile hap.pid

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
        

listen ololo-in
	bind *:9000
	server s2 127.0.0.1:8002 maxconn 32
	server s1 127.0.0.1:8001 maxconn 32